body {
    background-color: grey;
}

/* WEBSITE HEADER */
#site-header {
    width: 75%;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#site-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

#site-header h1 {
    position: absolute; 
    bottom: 0px;
    left: 16px;
    margin: 0px;
    color: white;
    font-size: 150px;
    font-family: "Jolly Lodger", serif;
}


/* WEBSITE MAIN NAVIGATION */
#site-navigation ul {
    width: 75%;
    height: 100px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    outline: 2px solid black;
    outline-offset: -2px;
}

#site-navigation ul li {
    width: 20%;
    height: 100%;
    float: left;
    background-color: purple;
    outline: 2px solid black;
}

#site-navigation ul li:hover {
    background-color: #96709f;
}

#site-navigation ul li a {
    display: block;
    text-align: center;
    color: white;
    font-family: "Jolly Lodger", serif;
    font-size: 70px;
    text-decoration: none;
}

#site-navigation #active-page {
    background-color: #a23ab9;
}

#site-navigation #active-page:hover {
    background-color: #96709f;
    text-decoration: none;
}

#site-navigation #active-page {
    background-color: #a23ab9;
}

#site-navigation #active-page:hover {
    background-color: #96709f;
}

/* PAGE MAIN CONTENT */
main {
    width: 75%;
    background-color: rgba(165, 17, 165, 0.753);
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: grey;
}

/* WEBSITE HEADER */
#site-header {
    width: 75%;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#site-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

#site-header h1 {
    position: absolute; 
    bottom: 0px;
    left: 16px;
    margin: 0px;
    color: white;
    font-size: 150px;
    font-family: "Jolly Lodger", serif;
}


/* WEBSITE MAIN NAVIGATION */
#site-navigation ul {
    width: 75%;
    height: 100px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    outline: 2px solid black;
    outline-offset: -2px;
}

#site-navigation ul li {
    width: 20%;
    height: 100%;
    float: left;
    background-color: purple;
    outline: 2px solid black;
}

#site-navigation ul li:hover {
    background-color: #96709f;
}

#site-navigation ul li a {
    display: block;
    text-align: center;
    color: white;
    font-family: "Jolly Lodger", serif;
    font-size: 70px;
    text-decoration: none;
}

#site-navigation #active-page {
    background-color: #a23ab9;
}

#site-navigation #active-page:hover {
    background-color: #96709f;
}

/* PAGE MAIN CONTENT */
main {
    width: 75%;
    background-color: rgba(165, 17, 165, 0.753);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

/* GEOGRAPHY QUIZ */

.geo-start-button {
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    height: 60px;
    background-color: purple;
    outline: 2px solid black; 
}

.geo-start-button:hover {
    background-color: #96709f;
}

.geo-start-button a {
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: "Jolly Lodger", serif;
    color: white;
    text-decoration: none;
}

.geo-header {
    text-align: center;
    font-family: "Jolly Lodger", serif;
    font-size: 100px;
    margin: 0px;
    padding-top: 20px;
}

.geo-start-text {
    text-align: center;
    font-size: 30px;
}